#block{
    width: 400px;
    height: 400px;
    margin: 30px auto;
    border: 3px solid black;
    position: relative;
}


.box{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}


.A{
    background-color: yellow;
    left: 0px;
    bottom: 0px;
    position: absolute;
}


.B{
    background-color: red;
    top: 0px;
    right: 0px;
    position: absolute;
}


.C{
    background-color: blue;
    top: 0px;
    left: 0px;
    position: absolute;
}


.D{
    background-color: green;
    bottom: 0px;
    right: 0px;
    position: absolute;
}











































