body{
  margin: 0px;
  padding: 0px;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}

header{
  background-color: black;
  text-align: center;
  display: flow-root;
}

header > img{
  float: left;
  width: 150px;
  height: 200px;
}

header h1{
  color: white;
}

nav{
  background-color: #ff242f;
  display: flow-root;
  position: sticky;
  top: 0px;
}

nav .block-nav{
  float: right;
}

nav a{
  float: left;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  color: white;
}

nav a:hover{
  background-color: #f3f1f1;
  color: black;
  transition: all 0.3s;
}

.active{
  background-color: #f3f1f1;
  color: black;
}

#about{
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-color: blue;
}

#price{
  margin: 0 auto;
  height: 700px;
  width: 300px;
  background-color: red;
}

#now-showing{
  margin: 0 auto;
  height: 700px;
  width: 500px;
  background-color: green;
}


a
