@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Overpass", sans-serif;
  width: 100vw;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 150%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header {
  position: relative;
  
  width: 100%;
  padding: 18px;
  height: 50vh;
  background: url(images/logo1.jpg) no-repeat center center;
  z-index: 1;
}
header::before {
    position: absolute;
    content: '';
  background-image: linear-gradient(
    to bottom right,
    hsl(194, 61%, 22%),
    hsl(194, 50%, 27%)
  );
  opacity: 90%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
nav {
  position: relative;
  width: 100%;
  height: 100px;
  /* z-index: 10; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.logo {
  width: 80px;
  position: relative;
  cursor: pointer;
}
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  /* align-items: center; */
  position: absolute;
  /* padding: 2rem 0; */
  background-color: white;
  
  font-weight: 600;
  width: 100%;
  height: 80vh;
  font-size: 1.4rem;
  top: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.7s ease-in-out ;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.main-nav li {
  width: 100%;
  text-align: center;
  
}
.main-nav li a{
    color: black;
}
/* Drop down*/
.dropbtn {
  background-color:transparent;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e5e8e;
}

label{
    cursor: default;
}

.checkbtn { 
    display: block;
    cursor: pointer;
    position: relative;  
    color: whitesmoke;   
}
#check{
    display: none;
  }


#check:checked ~ .main-nav{
    transform: translateX(0);
    opacity: 1;
  }

.hero{
    position: relative;
    text-align: center;
    margin-top: 10%; 
}
.hero h1{
    font-size: 2rem;
    color: whitesmoke;
}
.hero p{
    margin-top: 0.7em;
    font-size: 1rem;
    color: whitesmoke;
}
.product-section > h3{
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    color: royalblue;
    position: relative;
}
.product-section > h3::before{
    position: absolute;
    top: 120%;
    left:50%;
    transform: translateX(-50%);
    content: "";
    width:70%;
    height: 1px;
    background-color: grey;
}
footer{
    background-color:   hsl(194, 61%, 22%);
    color:whitesmoke;
    display: flex;
    height: 20vh;
    padding: 10px;
    justify-content: space-between;
}
footer .footer--left p{
    font-size: 0.7rem;
}
.footer-nav a{
    color: whitesmoke;
}
.footer-nav a:hover{
    color: black;
}
@media only screen and (min-width: 1024px){
    .checkbtn{
        display: none;
    }
    .main-nav{
        flex-direction: row;
        /* align-items: center; */
        position: static;
        width: initial;
        /* padding: 2rem 0; */
        background-color:transparent;
        font-weight: 600;
        height: initial;
        font-size: 1.4rem;
        opacity: 1;
        transform: translateX(0);
        border-radius: none;
        box-shadow: none;
        z-index: 1  
    }
    
    .main-nav li {
        display: inline-block;
        width: initial;
        margin-right: 1rem;
    }
    .main-nav li a{
        font-size: 1.3rem;
        color: whitesmoke
    }
    .main-nav li a:hover{
        color: black;
    }
    /* Drop down*/
.dropbtn {

  color:whitesmoke;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

    .hero{
        text-align: center;
        margin-top: 10%; 
    }
    .hero h1{
        font-size: 4rem;
        color: whitesmoke;
    }
    .hero p{
        margin-top: 1.5rem;
        font-size: 2rem;
        color: whitesmoke;
    }
    .logo{
        width: 150px;
    }
    footer{
        padding: 2rem;
        height: 21vh;
    }
    footer .footer--left p{
        font-size: 1.2rem;
        line-height: 150%;
    }
    footer .footer-nav a{
        font-size: 1.5rem;
        line-height: 150%;
    }
    

}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row-contact{
    padding-top: 2%; 
    padding-bottom: 2%; 
    padding-left: 15%; 
    padding-right: 15%;
  }

  .aside_contact{
        margin-left: 5%;
        width: 40%;
        height:inherit;
        border: 3px solid violet ;
        background-color: white;
        overflow-wrap: break-word;
  }

  .form_contact{
        float: right;
        text-align: center;
        border: 3px solid violet ;
        margin-right: 5%;
        width: 50%;
  }

  section.container_contact{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin: 30px;
    background: rgba(233, 231, 231, 0.849); ;
    border: 1px solid black;
    
}


  .comment_contact {
    float: left;
    width: 100%;
    height: auto;
}

  .textinput {
    float: left;
    width: 100%;
    min-height: 100px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

#contactday {
    color: rgb(0, 0, 0);
    font-size:18px;
    text-align: center;
    
}

#contactday div{
    display:inline-flex;
    padding-left: 1%;
}

input.contact_checkbox { 
    width: 20px;
    height: 20px;
} 

option.text-color {
    color: white;
}

#select_style {
    -webkit-appearance: menulist-button;
    margin-left: 10px;
    height: 30px;
    width: 100px;
    color:black;
    background-color: rgb(180, 180, 180);
}

.style_form_shop{
    padding-right: 50%; 
    padding-top: 2%; 
    padding-bottom: 2%;
}

button.style_button{
    margin-top: 10%;
    margin-right: 30px;
    height: 50px;
    width: 200px;
    background-color: rgb(189, 178, 169);
    font-size: 15px;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;

}

@media (max-width: 533px) {
    .style_form_shop{
        padding-right: 30%; 
        padding-top: 2%; 
        padding-bottom: 2%;
    }
}

@media (max-width: 415px) {
    .style_form_shop{
        padding-right: 0%; 
        padding-top: 2%; 
        padding-bottom: 2%;
    }
}

button.style_button:hover {background-color: #3e678e}

button.style_button:active {
    background-color: #3e8e4f;
    box-shadow: 0 2px #666;
    transform: translateY(0px);
  }

  [class*="col-"] {
    float: center;
    padding: 15px;
  }

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media (max-width: 1200px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  @media (max-width: 872px) {
    #contactday {
        display: flex;
        color: rgb(0, 0, 0);
        font-size:18px;
        text-align: left;
        flex-direction: column;
    }
    .row-contact {
        padding-top: 2%; 
        padding-bottom: 2%; 
        padding-left: 0%; 
        padding-right: 0%;
    }
  }


 