@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  margin: 0;
}
main .container-cate{
  float: left;
}

main .rightside{
  margin-left: 20%;
  overflow: hidden;
}
main .rightside .gallery-side{
  float: left;
}
/* Categori cus */
.dropdown-cate {
  position: relative;
  display: inline-block;
}
.dropdown-button {
  width: 100%;
  border: none;
  background-color: black !important;
  color: white;
  text-transform: uppercase;
  font-size: 100%;
  cursor: pointer;
  display: inline;
}
.drop-content {
  position: absolute;
  background-color: black;
  z-index: 1;
  display: none;
  width: 100%;
}
.drop-content a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 90%;
  text-transform: uppercase;
}
.drop-content a:hover {
  background-color: #00fceb;
  color: black;
}
.dropdown-section:hover .drop-content {
  display: block;
}
.material-icons {
  text-align: center;
}
/*Locate store*/
.rightside .store{
  position: relative;
  width: 30%;
  height: 30%;
  display:inline-block;
  margin-left: 3%;
}

div.store-logo {
  width: 250px;
  height: 250px;
  cursor: pointer;
}
.store:hover .store-logo img {
  border-bottom: solid 10px #00fceb;
}
div.store-logo img {
  top: 0%;
  left: 10%;
  position: absolute;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
div.visit-tag{
  position: absolute;
  top: 40%;
  left: 25%;
  background-color: #00fceb;
  color:black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  text-align: center;
  display: none;
  z-index: 2;
}
.store:hover .visit-tag {
  display: block;
}
div.shope-name {
  position: absolute;
  top: 75%;
  left: 35%;  
}
div.shope-name a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 22px;
  cursor: pointer;
}
div.shope-name a:hover{
  font-size: 25px;
}
div.description {
  top: 85%;
  left: 0%;
  font-size: 15px;
  position: absolute;
  display: inline-block;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .responsive {
    width: 100%;
  }
  .dropdown-button {
    width: 50%;
    font-size: 50%;
  }
  .drop-content a {
    font-size: 50%;
  }
  .drop-content {
    width: 50%;
  }
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
