@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body{
    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgba(161, 161, 161, 0.13);
}
.left{
    margin-top: 10%;
    margin-left: 5%;
    width: 250px;
}

.right{
    position: absolute;
    margin-top: -2%;
    left:25%;
    right: 10%;
    background-color:white;
    z-index: -3;
}
.dropdown-cate{
    position: relative;
    display: inline-block;
}
.dropdown {
    border: none;
    background-color: rgb(68, 68, 156);
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    display: inline;
}
.drop-content{
    position: absolute;
    background-color: rgb(68, 68, 156);
    z-index: 1;
    display: none;
    width: 100%;
}
.drop-content a{
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.drop-content a:hover {
    background-color: rgb(189, 189, 255);
}
.dropdown:hover .drop-content{
    display: block;
}
.material-icons {  
    text-align: center;
}
/* Format the A-Z navigation*/
.navside {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 2;
  background-color: rgb(68, 68, 156);
  overflow-x: hidden;
  overflow-y: visible;
}
.navside li {
  text-align: center;
  list-style-type: none;
}

.navside a {
  color: white;
  padding: 15px;
  display: block;
  text-decoration: none;
}
.navside a:hover {
  background-color: rgb(189, 189, 255);
}
/* Format the store layout*/
.content h1{
    margin-left: 2%;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.575);
}
.content p {
    margin-top:-0.5%;
    margin-left: 2%;
    font-size: 15px;
    color: rgb(145, 144, 145);
}
.store {
  float: left;
  margin-top: 2%;
  margin-left: 1%;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
div.store-logo {
  width: 236px;
  height: 236px;
  cursor: pointer;
}
.store:hover .store-logo img {
  border-bottom: solid 10px rgb(189, 189, 255);
}
div.store-logo img {
  top: 0%;
  position: absolute;
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 50%;
  z-index: -1;
}
div.visit-tag{
  position: absolute;
  top: 40%;
  left: 25%;
  background-color: white;
  color: rgb(68, 68, 156);
  border-bottom: 3px solid rgb(68, 68, 156);
  border-right: 3px solid rgb(68, 68, 156);
  text-align: center;
  display: none;
}
.store:hover .visit-tag {
  display: block;
}

div.shope-name {
  position: absolute;
  top: 75%;
  left: 35%;  
}

div.shope-name a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(189, 189, 255);
  font-size: 22px;
  cursor: pointer;
}
div.shope-name a:hover{
  font-size: 25px;
}
div.description {
  top: 85%;
  left: 0%;
  font-size: 15px;
  position: absolute;
  display: inline-block;
  text-align: center;
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
