@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Overpass", sans-serif;
  width: 100vw;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 150%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header {
  position: relative;
  
  width: 100%;
  padding: 18px;
  height: 50vh;
  background: url(images/logo1.jpg) no-repeat center center;
  z-index: 1;
}
header::before {
    position: absolute;
    content: '';
  background-image: linear-gradient(
    to bottom right,
    hsl(194, 61%, 22%),
    hsl(194, 50%, 27%)
  );
  opacity: 90%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
nav {
  position: relative;
  width: 100%;
  height: 100px;
  /* z-index: 10; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.logo {
  width: 80px;
  position: relative;
  cursor: pointer;
}
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  /* align-items: center; */
  position: absolute;
  /* padding: 2rem 0; */
  background-color: white;
  
  font-weight: 600;
  width: 100%;
  height: 80vh;
  font-size: 1.4rem;
  top: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.7s ease-in-out ;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.main-nav li {
  width: 100%;
  text-align: center;
  
}
.main-nav li a{
    color: black;
}


label{
    cursor: default;
}

.checkbtn { 
    display: block;
    cursor: pointer;
    position: relative;  
    color: whitesmoke;   
}
#check{
    display: none;
  }


#check:checked ~ .main-nav{
    transform: translateX(0);
    opacity: 1;
  }

.hero{
    position: relative;
    text-align: center;
    margin-top: 10%; 
}
.hero h1{
    font-size: 2rem;
    color: whitesmoke;
}
.hero p{
    margin-top: 0.7em;
    font-size: 1rem;
    color: whitesmoke;
}
.product-section > h3{
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    color: royalblue;
    position: relative;
}
.product-section > h3::before{
    position: absolute;
    top: 120%;
    left:50%;
    transform: translateX(-50%);
    content: "";
    width:70%;
    height: 1px;
    background-color: grey;
}
footer{
    background-color:   hsl(194, 61%, 22%);
    color:whitesmoke;
    display: flex;
    height: 20vh;
    padding: 10px;
    justify-content: space-between;
}
footer .footer--left p{
    font-size: 0.7rem;
}
.footer-nav a{
    color: whitesmoke;
}
.footer-nav a:hover{
    color: black;
}
@media only screen and (min-width: 1024px){
    .checkbtn{
        display: none;
    }
    .main-nav{
        flex-direction: row;
        /* align-items: center; */
        position: static;
        width: initial;
        /* padding: 2rem 0; */
        background-color:transparent;
        font-weight: 600;
        height: initial;
        font-size: 1.4rem;
        opacity: 1;
        transform: translateX(0);
        border-radius: none;
        box-shadow: none;
        z-index: 1  
    }
    
    .main-nav li {
        display: inline-block;
        width: initial;
        margin-right: 1rem;
    }
    .main-nav li a{
        font-size: 1.3rem;
        color: whitesmoke
    }
    .main-nav li a:hover{
        color: black;
    }
    .hero{
        text-align: center;
        margin-top: 10%; 
    }
    .hero h1{
        font-size: 4rem;
        color: whitesmoke;
    }
    .hero p{
        margin-top: 1.5rem;
        font-size: 2rem;
        color: whitesmoke;
    }
    .logo{
        width: 150px;
    }
    footer{
        padding: 2rem;
        height: 21vh;
    }
    footer .footer--left p{
        font-size: 1.2rem;
        line-height: 150%;
    }
    footer .footer-nav a{
        font-size: 1.5rem;
        line-height: 150%;
    }
    
    

}


.shoppingcart_container{
  padding-top: 5%;
  padding-bottom: 2%;
  padding-right: 10%;
  padding-left: 10%;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  text-align: left;
  background-color: #2d445e;
  color: white;
}

.shoppingcart_table{
  padding-top: 5%;
}

.table_cart_title {
  padding: 2.5%;
}

.cart_img_center {
  padding-top: 5%;
  padding-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.input-size{
  display: inline-flex;

}

.input-size > button{
  flex: 1;
}
.input-size > input{
  flex: 2;
  width: 100%;
  font-size: 0.8em;
}

.submit_coupon{
  height:40px; width:10%;
}


button.style_button{
  margin-top: 10%;
  margin-right: 30px;
  height: 50px;
  width: 200px;
  background-color: rgb(189, 178, 169);
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;

}

button.style_button:hover {background-color: #3e678e}

button.style_button:active {
  background-color: #3e8e4f;
  box-shadow: 0 2px #666;
  transform: translateY(0px);
}

.container_total_cart{
  background-color: teal;
  border: solid black;
  margin-left: 30%;
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 30px;
  height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.container_cart{
    padding-left: 8.5%;
    padding-right: 7.5%;

}

.table_cart_total {
  padding: 5%;
}

#customers_total {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers_total td, #customers_total th {
  border: 1px solid rgb(0, 0, 0);
}

#customers_total tr:nth-child(even){background-color: #ffffff}

#customers_total tr:hover {background-color: #ffffff}

#customers_total th {
  text-align: left;
  background-color: #ffffff;
  color: rgb(0, 0, 0);

}

.button_style_continue{
  height:40px; 
  width:50%; 
  background-color: rgb(47, 55, 77); 
  color:blanchedalmond; 
  margin-left: 50%;
  cursor: pointer;
}

.button_style_apply{
  height:40px; 
  width:40%; 
  background-color: rgb(47, 55, 77); 
  color:blanchedalmond;
  cursor: pointer;
}


.button_style_order{
  height:40px; 
  width:30%; 
  background-color: rgb(47, 55, 77); 
  color:blanchedalmond; 
  margin-top: 5%;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  /* Table full chiều rộng màn hình, cách đều trái phải 10px */
  
}

@media only screen and (max-width: 555px) {
  div.shoppingcart_table table th,
  div.shoppingcart_table table td {
      display: block;
      border-bottom: none;
  }

  div.shoppingcart_table table tr:last-child td {
      border-bottom: 1px solid #ccc;
  }

input.button_style_apply{
  width: 40%;;
}

 div.shoppingcart_table table{
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  width: 700px;
}

div.shoppingcart_table table th,

div.shoppingcart_table table td {

  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}

td.table_cart_title::before{
  display: none;
}

td.total{
  margin-bottom: 5%;
}

div.shoppingcart_table{
  margin-top: 10%;
}

div.cart_total table td th {
  width: 22%; text-align: center; background-color: white; padding-top: 5%; padding-bottom: 5%;
}

button.button_style_continue {
  margin-left: auto;
}

div.shoppingcart_table table th {
  background-color: #000000;
  display: none;
}
    div.shoppingcart_table table th:nth-of-type(0):before { content: "PRODUCT"; }
    div.shoppingcart_table table td:nth-of-type(2):before { content: "PRODUCT"; }
    div.shoppingcart_table table td:nth-of-type(4):before { content: "PRICE"; color: #3e8e4f; padding-right: 3%;}
    div.shoppingcart_table table td:nth-of-type(6):before { content: "TOTAL"; color: #3e8e4f; padding-right: 3%;}
  }

  @media screen and (max-width: 700px) {

    
    
    .column {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
